body{
  font-family: sans-serif;
  margin: 0;
  background: black;
}

#header{
  background: rgba(0, 0, 0, .7);
  color: white;
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: 99;
}

#header a{
  text-decoration: none;
}
#header a:hover{
  color: red;
}
.logo{
  float: left;
  display: inline-block;
  padding: 20 2.5%;
  margin-left: 2.5%;
  margin-top: 1%;
  font-size: 30px;
  font-weight: 700;
  color: red;
}
.leftMenu{
  float: left;
  display: inline-block;
}
.leftMenu ul{
  list-style: none;
  padding: 10;
  margin: 0;
}
.leftMenu ul li{
  display: inline-block;
  padding: 20px;
}
.leftMenu ul li a{
  color: green;
}
.leftMenu ul li a.dropdown{
  color: blue;
}
.rightMenu{
  float: right;
  display: inline-block;
  color: black;
  padding-right: 2.5%;
}
.rightMenu ul{
  list-style: none;
  padding: 10;
  margin: 0;
}
.rightMenu ul li{
  display: inline-block;
  padding: 20px;
}
.rightMenu ul li a{
  color: yellow;
}
#largeImage{
  padding: 10% 2.5%;
  background: -webkit-linear-gradient(45deg, rgba(94,160,219,0) 0%,rgba(2,80,249,0.4) 100%), url(../pictures/tahoepic) no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.description-box{
  width: 40%;
  color: white;
}
.description-box h1{
  font-size: 6vw;
  font-weight: 700;
  margin: 0px;
}
.description-box h3{
  font-size: 3vw;
  font-weight: 400;
  margin: 0px;
  margin-left: 0px;
}
.description-box h4{
  font-size: 2vw;
  font-weight: 400;
  margin: 0px;
  color: white;
}
.description-box p{
  font-size: 1.25vw;
  margin: 10px 0 10px 0;
}
.button1{
  display: inline-block;
  padding: 12px 20px;
  color: white;
  background: red;
  cursor: pointer;
}
.button2{
  display: inline-block;
  padding: 10px 18px;
  border: 1px solid white;
  color: white;
  background: black;
  cursor: pointer;
}
.button1:hover{
  background: rgb(255, 75, 75);
}
.button2:hover{
  background: rgb(75,75,75);
}
#videoSection{
  width: 100%;
  background: black;
}
.row{
  padding: 4% 0;
  margin: -4% 0;
  font-size: 0;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
}
#videoSection h4{
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  color: white;
  padding: 2.5% 0 0 2.5%;
}
.videoBoxes{
  display: inline-block;
  background: red;
  width: 20%;
  height: 120px;
  font-size: 16px;
  margin: 0.5% 0.5% 0.5% 2.5%;
  padding: 2%;
  position: relative;
  white-space: normal;
  transition: all .2s ease-in-out;
}
.videoBoxes h4{
  padding: 0;
  color: white;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.videoBoxes p{
  color: orange;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  visibility: hidden;
}
.videoBoxes:hover{
        margin: 0 5% 0 7%;
        transform: scale(1.5);
}
#videoSection .videoBoxes:hover h4{
  visibility: visible;
}
.videoBoxes:hover p{
  visibility: visible;
  margin-left: -5%;
}
.video1{
  background: url(https://upload.wikimedia.org/wikipedia/commons/f/fc/North_face.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video2{
  background: url(http://squawalpine.com/sites/default/files/styles/large/public/header/hero_squaw-night.jpg?itok=6InD_p7m);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video3{
  background: url(http://www.tubefilter.com/wp-content/uploads/2014/12/wet-hot-american-summer-netflix.jpg) no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video4{
  background: url(https://upload.wikimedia.org/wikipedia/en/9/94/Pink_Floyd_The_Wall.jpg) no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video5{
  background: url(https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/Piposter.jpg/220px-Piposter.jpg) no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video6{
  background: url(https://images-na.ssl-images-amazon.com/images/M/MV5BZWJhOGFiZWMtYTY5Ni00NGU1LWE5OWItNzA5NThkNWUwYzc4XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_UY268_CR3,0,182,268_AL_.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video7{
  background: url(https://images-na.ssl-images-amazon.com/images/M/MV5BMzcyMjZmNjctNGNhMS00ZmQxLWFkNzQtYTIxYjVkYmU1NmNmXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UY1200_CR88,0,630,1200_AL_.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video8{
  background: url(https://philrobertsmovieposters.files.wordpress.com/2013/10/gnar-movie-poster-ski-movies-final-phil-roberts.jpg) no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video9{
  background: url(https://www.nbc.com/sites/nbcunbc/files/files/styles/640x360/public/2013_1210_Community_Show_KeyArt_1920x1080_CA_0.jpg?itok=g4DQmC_2) no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video10{
  background: url(https://upload.wikimedia.org/wikipedia/en/6/64/Movie_poster_Anchorman_The_Legend_of_Ron_Burgundy.jpg) no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video11{
  background: url(https://images-na.ssl-images-amazon.com/images/M/MV5BMTk3Mjk5MzI3OF5BMl5BanBnXkFtZTcwMTY4MzcyNA@@._V1_UY1200_CR85,0,630,1200_AL_.jpg) no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video12{
  background: url(http://img.moviepostershop.com/dumb-and-dumber-movie-poster-1994-1020191993.jpg) no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video13{
  background: url(https://images-na.ssl-images-amazon.com/images/M/MV5BMjE2OTc3OTk2M15BMl5BanBnXkFtZTgwMjg2NjIyMDE@._V1_UY1200_CR90,0,630,1200_AL_.jpg) no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
@media screen and (max-width: 600px) {
  .videoBoxes{
    width: 95%;
    margin: 2.5%;
  }
  .videoBoxes h4{
    font-weight: 100;
    font-size: 30px;
  }
}
*/
